<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading {{empresa.cor_2}}">                        
                        <img class="center-block" ng-src="resources/img/logo.png" height="40px">
                    </div>                        

                    <form role="form" ng-show="login_cliente">
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group col-md-6">
                                    <label>Nome</label>
                                    <input class="form-control" tabindex="1" placeholder="Digite seu nome" type="text" ng-model="cliente_novo.nome" autofocus>
                                </div>          

                                <div class="form-group col-md-6">
                                    <label>E-mail (Usado acessar o Help Desk)</label>
                                    <input class="form-control" tabindex="1" placeholder="Digite seu e-mail de acesso" type="email" ng-model="cliente_novo.email">
                                </div>       

                                <div class="form-group col-md-12">
                                    <label>Empresa (Fantasia)</label>
                                    <input class="form-control" tabindex="1" placeholder="Digite sua empresa" type="text" ng-model="cliente_novo.empresa">
                                </div>       

                                <div class="form-group col-md-6">
                                    <label>Telefone</label>
                                    <input class="form-control" tabindex="1" placeholder="Digite seu telefone" type="text" ng-model="cliente_novo.tel" mask='(99) 9?9999-9999'>
                                </div>    

                                <div class="form-group col-md-6">
                                    <label>Cargo ou Área</label>
                                    <input class="form-control" tabindex="1" placeholder="Digite seu cargo ou área" type="text" ng-model="cliente_novo.cargo">
                                </div>              
                             
                            </fieldset>
                     
                        <hr>    

                        <a class="btn btn-default btn-sm btn-default pull-left" ui-sref="login" type="submit">Voltar</a>
                        <button class="btn btn-default {{empresa.cor_2}} col-xs-6 pull-right" tabindex="3" type="submit" ng-click="insertCliente(cliente_novo)">Cadastrar</button>

                        </div>
                    </form>
                                    
                </div>
            </div>
        </div>
    </div> 
</body>