<body>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3">
    <!-- 
                <div class="alert alert-success mt-3" style="font-size: 14px">
                    <center>
                        <img  src="resources/img/male_avatar.png" style="height: 85px;padding-bottom: 3px;">
                        <br>Bem vindo ao <big><b>Safety Docs Help Desk</b></big> 
                        <br>Nosso novo sistema de <big><b>Suporte!</b></big>
                    </center>
                    <center>
                        <br>Se esse é seu primeiro acesso, clique em <big><b>quero me cadastrar</b></big> logo abaixo.
                        <br>Para entrar, você precisará <big><b>apenas de seu email</b></big>.
                    </center>
                </div> -->

                <div class="login-panel panel panel-default">
                    <div class="panel-heading {{empresa.cor_2}}">                        
                        <img class="center-block" ng-src="resources/img/logo.png" height="40px">
                    </div>                        

                    <form role="form slide-down" ng-show="login_cliente">
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" data-toggle="tooltip" data-placement="top" title="Pressione enter para entrar" tabindex="1" placeholder="seuemail@email.com" type="text" ng-model="cliente.email" autofocus>
                                </div>                                            
                            </fieldset>                     
                            <hr>    

                            <button class="btn btn-default {{empresa.cor_2}} col-xs-6 col-xs-offset-3" tabindex="3" type="submit" ng-click="getClienteLogin(cliente)">Entrar</button>
                            <button class="btn btn-default col-xs-4 col-xs-offset-4 mt-3 btn-sm" tabindex="3" ng-click="goCadastrarCliente()" data-toggle="tooltip" data-placement="right" title="É seu primeiro acesso? Realize um cadastro rápido para entrar.">Quero me cadastrar</button>
                            <button class="btn btn-default col-xs-4 col-xs-offset-4 mt-1 btn-sm" tabindex="3" ng-click="login_cliente = false; login_usuario = true">Administrador</button>
                           
                        </div>
                    </form>

                    <form role="form slide-down" ng-show="login_usuario">
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" tabindex="1" placeholder="seuemail@empresa.com" type="text" ng-model="user.email" autofocus>
                                </div>
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input class="form-control" tabindex="2" placeholder="*****"  type="password" ng-model="user.senha">
                                </div>                                
                            </fieldset>                 

                            <hr>             
                            
                            <a class="btn btn-default btn-sm btn-default pull-left" ng-click="login_cliente = true; login_usuario = false" type="submit">Voltar</a>
                            <button class="btn btn-default {{empresa.cor_2}} col-xs-6 col-xs-offset-2" data-toggle="tooltip" data-placement="top" title="Pressione enter para entrar" tabindex="3" type="submit" ng-click="getUsuarioLogin(user)">Entrar</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>