<nav class="navbar navbar-default navbar-static-top {{empresa.cor_2}} white-text" class="{{empresa.cor_background}}" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)"><img src="resources/img/logo.png" height="35px;"></a>
    </div>

    <!-- <div class="loading_background" ng-show="loading"></div> -->
    <div class="loading slide-down" ng-show="loading"></div>


    <ul class="nav navbar-top-links navbar-right">  

        <li class="dropdown" ng-class="{'orange' : user.notificacoes.length > 0}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true" ng-show="user.tipo == 'usuario'">
                <i class="fa fa-bell white-text"></i> 
                <i class="fa fa-caret-down white-text"></i>
            </a>

            <ul class="dropdown-menu dropdown-messages">
                <li ng-repeat="notificacao in user.notificacoes">
                    <a href="#/app/VerTicketAdmin/{{notificacao.hash_link}}">
                        <div>
                            <strong>{{notificacao.nome}}</strong>
                            <span class="pull-right text-muted">
                                <em>{{notificacao.tempo}}</em>
                            </span>
                        </div>
                        <div ng-bind-html="notificacao.mensagem | limitTo : 200"></div>
                        <!-- <input class="mt-1" type="checkbox" name="notificacao.lido"> Marcar como lido -->
                    </a>
                    <hr>
                </li>            
            </ul>

            <ul class="dropdown-menu dropdown-alerts" ng-show="user.notificacoes.length <= 0">
                <li>      
                    <a href="">
                        <div>                            
                            <i class="fa fa-calendar-check-o"></i> Nenhuma notificação                            
                        </div>
                    </a>
                </li>                
            </ul>                  
        </li>
      
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
               <i class="fa fa-cog fa-fw white-text"></i><i class="fa fa-caret-down white-text"></i>
            </a>
            <ul class="dropdown-menu dropdown-notifications" ng-show="user.tipo == 'usuario'">       
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Notificações</a></li>                     
                <li class="divider"></li>
                <li ng-click="destroySession()"><a href="#/Login"><i class="fa fa-power-off"></i> Sair</a></li>
            </ul>            
            <ul class="dropdown-menu dropdown-user">       
                <li ng-show="user.tipo == 'usuario'"><a href="#/app/Configuracoes"><i class="fa fa-gear fa-fw"></i> Configurações</a></li>                     
                <li class="divider" ng-show="user.tipo == 'usuario'"></li>
                <li ng-click="destroySession()"><a href="#/Login"><i class="fa fa-power-off"></i> Sair</a></li>
            </ul>
        </li>
    </ul>   

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search grey-text">
                    <center>
                        <big>
                            <img  ng-show="user.tipo == 'usuario'" src="resources/img/male_avatar.png" style="height: 55px;padding-bottom: 3px;">
                            <img  ng-show="user.tipo == 'cliente'" src="resources/img/male_avatar2.png" style="height: 55px;padding-bottom: 3px;">
                        </big>
                        <br><b ng-bind="user.nome">{{user.nome}}</b>
                        <br><b ng-bind="user.email">{{user.email}}</b>
                        <br><span  class="badge mt-1" ng-bind="user.empresa">{{user.empresa}}</b>
                    </center>
                </li>

                <li ng-show="user.tipo == 'usuario'">
                    <a href="#/app/NovoTicketAdmin">                        
                        <center>
                            <button class="btn btn-sm {{empresa.cor_2}} white-text">
                                <i class="fa fa-plus fa-fw"></i> Novo Ticket
                            </button>
                        </center>
                    </a>
                </li>
                <li ng-show="user.tipo == 'cliente'">
                    <a href="#/app/NovoTicket">
                        <center>
                            <button class="btn btn-sm {{empresa.cor_2}} white-text">
                                <i class="fa fa-plus fa-fw"></i> Novo Ticket
                            </button>
                        </center>
                    </a>
                </li>

                <li ng-repeat="recurso in user.menu" 
                    ng-class="{'{{empresa.cor_2}}' : recurso_clicado == recurso.codrecurso}"
                    ng-click="setStyleClicado(recurso.codrecurso)">
                    <a href="{{recurso.rota}}" ng-class="{'white-text' : recurso_clicado == recurso.codrecurso}"><i class="{{recurso.icone}}"></i> {{recurso.descricao}}</a>
                </li>   

            </ul>
        </div>        
    </div>
</nav>

<div ui-view ng-cloak></div>