<div id="wrapper" ng-init="getUsuario()">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header" ng-show="usuario_editar.codusuario">Alterar <b>{{usuario_editar.nome}}</b></h3  >
                <h3 class="page-header" ng-show="!usuario_editar.codusuario">Novo usuário</h3>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">            
                <div class="panel-heading {{empresa.cor_2}} white-text" >                      
                    <label ng-show="usuario_editar.codusuario">Código: <b ng-bind="usuario_editar.codusuario"></b></label>
                </div>                 
                <div class="panel-body">                 
                       
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Nome</label>
                            <input class="form-control" placeholder="Nome" ng-model="usuario_editar.nome">
                        </div>

                        <div class="form-group col-sm-12 col-md-6">
                            <label>E-mail</label>
                            <input class="form-control" placeholder="E-mail" ng-model="usuario_editar.email">
                        </div>

                        <div class="form-group col-sm-12 col-md-12">
                            <label>Assinatura</label>
                            <input class="form-control" placeholder="Assinatura" ng-model="usuario_editar.assinatura">
                        </div>

                        <div class="form-group col-sm-12 col-md-6">
                            <label>Nova senha</label>
                            <input class="form-control" type="password" placeholder="******" ng-model="usuario_editar.nova_senha">
                        </div>

                        <div class="form-group col-sm-12 col-md-6" ng-class="{'has-error': usuario_editar.nova_senha != usuario_editar.confirmacao_nova_senha}">
                            <label>Confirmação nova senha</label>
                            <input class="form-control" type="password" placeholder="******" ng-model="usuario_editar.confirmacao_nova_senha">
                        </div>       

                        <div class="form-group col-sm-12" ng-init="getTodosRecursos()">
                            <hr>
                            <label>Recursos</label>
                            <div class="checkbox slide-right" ng-repeat="recurso in recursos track by recurso.codrecurso">
                                <label class="checkbox"><input type="checkbox" value="usuario_editar.recursos[recurso.codrecurso]" ng-model="usuario_editar.recursos[recurso.codrecurso]"><i class="{{recurso.icone}}"></i> {{recurso.descricao}}</label>
                            </div>
                        </div> 

                        <div class="form-group col-sm-12">
                            <hr>                                   
                        </div>   

                        <div class="form-group col-sm-6">
                            <label>Tipo</label>
                            <div class="radio">
                                <label class="radio"><input type="radio" value="admin" name="tipo_usuario" ng-model="usuario_editar.tipo_usuario" ng-checked="usuario_editar.tipo_usuario == 'admin'">Administrador</label>
                            </div>       
                            <div class="radio">
                                <label class="radio"><input type="radio" value="normal" name="tipo_usuario" ng-model="usuario_editar.tipo_usuario" ng-checked="usuario_editar.tipo_usuario == 'normal'">Normal</label>
                            </div>                                    
                        </div>                         

                        <div class="form-group col-sm-6">
                            <label>Auto-atribuir novos tickets a esse usuário</label>
                            <div class="radio">
                                <label class="radio"><input type="radio" value="S" name="auto_atribuir" ng-model="usuario_editar.auto_atribuir" ng-checked="usuario_editar.auto_atribuir == 'S'">Sim</label>
                            </div>       
                            <div class="radio">
                                <label class="radio"><input type="radio" value="N" name="auto_atribuir" ng-model="usuario_editar.auto_atribuir" ng-checked="usuario_editar.auto_atribuir == 'N'">Não</label>
                            </div>                                    
                        </div> 

                        <div class="form-group col-sm-12" ng-show="usuario_editar.codusuario">
                            <hr>
                            <label>Ativo</label>
                            <div class="radio">
                                <label class="radio"><input type="radio" value="S" name="ativo" ng-model="usuario_editar.ativo" ng-checked="usuario_editar.ativo == 'S'">Sim</label>
                            </div>       
                            <div class="radio">
                                <label class="radio"><input type="radio" value="N" name="ativo" ng-model="usuario_editar.ativo" ng-checked="usuario_editar.ativo == 'N'">Não</label>
                            </div>                                    
                        </div> 

                    </div>                    

                <div class="panel-footer {{empresa.cor_3}}">   
            
                    <a class="btn btn-sm btn-social btn-default" ui-sref="navbar_completa.usuarios">
                        <i class="fa fa-chevron-circle-left"></i> Voltar
                    </a>  
                    
                    <a class="btn btn-sm btn-social btn-success pull-right"  ng-show="usuario_editar.codusuario" ng-click="updateUsuario(usuario_editar)">
                        <i class="fa fa-floppy-o"></i> Salvar
                    </a>       

                    <a class="btn btn-sm btn-social btn-success pull-right" ng-hide="usuario_editar.codusuario" ng-click="insertUsuario(usuario_editar)">
                        <i class="fa fa-floppy-o"></i> Incluir
                    </a>      
                </div>
                
                </div>
            </div>
        </div>
    </div>
</div>