<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Usuários</h1>
            </div>
        </div>
        <div class="row" ng-init="getUsuarios()">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading {{empresa.cor_2}}">
                        <div class="form-group input-group">                          
                            <span class="input-group-addon"><a href="#/app/Perfil/"><i class="fa fa-plus"></i> Novo</a></span>
                            <input type="text" class="form-control" ng-model="pesquisa_usuario" placeholder="Pesquise usuários aqui">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>                          
                        </div>
                    </div>
                    <div class="panel-body">                
                        <table width="100%" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Cód.</th>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Tickets Atendidos</th>
                                    <th>Tipo</th>                                  
                                    <th>Classificação</th>                                                                                                    
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX slide-right" ng-repeat="usuario in usuarios | filter : pesquisa_usuario" ng-class="{'grey lighten-3' : usuario.ativo == 'N'}">
                                    <td><label ng-bind="usuario.codusuario"></label></td>
                                    <td><label ng-bind="usuario.nome"></label>
                                        <big ng-show="usuario.auto_atribuir == 'S'" title="Novos tickets são atribuídos automaticamente a esse usuário"><i class="fa fa-ticket pull-right red-text"></i></big>
                                    </td>                                   
                                    <td><label ng-bind="usuario.email"></label></td>                                   
                                    <td><label ng-bind="usuario.tickets_atendidos"></label></td>                                   
                                    <td>
                                        <label ng-show="usuario.tipo_usuario == 'admin'">Administrador</label>
                                        <label ng-show="usuario.tipo_usuario == 'normal'">Normal</label>
                                    </td>
                                    <td><label ng-bind="usuario.classificacao"></label></td>                                   
                                    <td><label><a href="#/app/Perfil/{{usuario.codusuario}}">Editar</a></label></td>
                                </tr>
                            </tbody>
                        </table>                                        
                    </div>

                </div>
            </div>             
        </div>
    </div>   
</div>