<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Clientes</h2>
            </div>
        </div>

        <div class="row" ng-init="getClientes('todos')">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading {{empresa.cor_2}}">
                        <div class="form-group input-group">                          
                            <!-- <span class="input-group-addon"><a href="#/app/Perfil/"><i class="fa fa-plus"></i> Novo</a></span> -->
                            <input type="text" class="form-control" ng-model="pesquisa_cliente" placeholder="Pesquise clientes aqui">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>                          
                        </div>
                    </div>
                    <div class="panel-body">                
                        <table width="100%" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Cód.</th>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Contato ({{empresa.nome}})</th>
                                    <th>Tel</th>                                    
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX slide-right" ng-repeat="cliente in clientes | filter : pesquisa_cliente" ng-class="{'grey lighten-3' : cliente.ativo == 'N'}">
                                    <td><label ng-bind="cliente.codcliente"></label></td>
                                    <td><span class="badge">{{cliente.empresa}}</span> <label ng-bind="cliente.nome"></label></td>                                   
                                    <td><label><a href="mailto:{{cliente.email}}">{{cliente.email}}</a></label></td>                                   
                                    <td><label ng-bind="cliente.contato_empresa"></label></td>                                   
                                    <td><label ng-bind="cliente.tel"></label></td>                                                                                                                           
                                    <td><label><a href="#/app/ClientePerfil/{{cliente.codcliente}}">Editar</a></label></td>
                                </tr>
                            </tbody>
                        </table>                                        
                    </div>

                </div>
            </div>             
        </div>

    </div>   
</div>