<div id="wrapper" ng-init="getClienteEditar()">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header" ng-show="cliente_editar.codcliente">Alterar <b>{{cliente_editar.nome}} <span class="badge">{{cliente_editar.empresa}}</span></b></h3>                
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">            
                <div class="panel-heading {{empresa.cor_2}} white-text" >                      
                    <label ng-show="cliente_editar.codcliente">Código: <b ng-bind="cliente_editar.codcliente"></b></label>
                </div>

                <div class="panel-body">                 
                       
                    <div class="form-group col-sm-12 col-md-6">
                        <label>Nome</label>
                        <input class="form-control" placeholder="Nome" ng-model="cliente_editar.nome">
                    </div>

                    <div class="form-group col-sm-12 col-md-6">
                        <label>E-mail</label>
                        <input class="form-control" placeholder="E-mail" ng-model="cliente_editar.email">
                    </div>           

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Empresa</label>
                        <input class="form-control" placeholder="Empresa" ng-model="cliente_editar.empresa">
                    </div>

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Tel:</label>
                        <input class="form-control" placeholder="Telefone de contato" ng-model="cliente_editar.tel" mask='(99) 9?9999-9999'>
                    </div>

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Cargo</label>
                        <input class="form-control" placeholder="Cargo" ng-model="cliente_editar.cargo">
                    </div>

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Contato na {{empresa.nome}}</label>
                        <input class="form-control" placeholder="Ponto de contato na {{empresa.nome}}" ng-model="cliente_editar.contato_empresa">
                    </div>  

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Nota</label>                        
                        <textarea class="form-control" style="min-width: 100%; max-width: 100%; min-height: 150px" placeholder="Essa nota será inserida ao abrir ticket de {{cliente_editar.empresa}}" ng-model="cliente_editar.nota"></textarea>
                    </div>                

                </div>                    

                <div class="panel-footer {{empresa.cor_3}}">   
            
                    <a class="btn btn-sm btn-social btn-default" ui-sref="navbar_completa.clientes">
                        <i class="fa fa-chevron-circle-left"></i> Voltar
                    </a>  
                    
                    <a class="btn btn-sm btn-social btn-success pull-right"  ng-show="cliente_editar.codcliente" ng-click="updateCliente(cliente_editar)">
                        <i class="fa fa-floppy-o"></i> Salvar
                    </a>       
        
                </div>
                
                </div>
            </div>
        </div>
    </div>
</div>