<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Evolução</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">

                        <div class="panel-heading {{empresa.cor_2}}">
                            <div class="form-group input-group">

                                <div class="col-xs-4">
                                    <datepicker date-format="dd/MM/yyyy">
                                        <input value="" class="form-control" ng-model="pesquisa_ticket.data_finalizacao" type="text" placeholder="Resolução">
                                    </datepicker>
                                </div>     

                                <div class="col-xs-4">                        
                                    <datepicker date-format="dd/MM/yyyy">
                                        <input value="" class="form-control" ng-model="pesquisa_ticket.data_inicial" type="text" placeholder="Data inicial" ng-init="pesquisa_ticket.data_inicial = hoje_menos_semana">
                                    </datepicker>
                                </div>

                            </div>     
                        </div>



                        <div class="panel-body">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div id="canvas-holder">
                                        <canvas id="grafico_abertos_resolvidos_line" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div id="canvas-holder">
                                        <canvas id="grafico_categorias" />
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>