<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Categorias</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading {{empresa.cor_2}} white-text">
                        <i class="fa fa-th-list"></i> <b> Categorias</b>
                    </div>
                    <div class="panel-body"> 
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="panel panel-default">                         
                                    <div class="panel-group" id="expandable">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-plus grey-text"></i>
                                                    <a class="" data-toggle="collapse" data-parent="#expandable" href="javascript:#novo_categoria">Novo</a>
                                                </h4>
                                            </div>
                                            <div id="novo_categoria" class="panel-collapse collapse out">
                                                <div class="panel-body">
                                                    <form role="form"> 
                                                        <div class="form-group col-xs-12">
                                                            <label>Descrição</label>
                                                            <input class="form-control" placeholder="Digite a descrição" ng-model="categoria.descricao">
                                                        </div>                                                                                                                                                  
                                                    </form>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="form-group">                                                  
                                                        <button class="btn btn-sm btn-social btn-success"
                                                                ng-click="insertCategoria(categoria)">
                                                            <i class="fa fa-floppy-o"></i> Incluir
                                                        </button>  
                                                    </div>     
                                                </div>
                                            </div>
                                        </div>  
                                    </div>                    
                                </div>

                                <div class="panel panel-default" ng-init="getCategorias()">
                                    <div class="panel-group" id="expandable">
                                        <div class="panel slide-right" ng-repeat="categoria in categorias | filter: pesquisa_categoria" ng-class="{'red lighten-5' : categoria.ativo == 'N'}">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-chevron-down grey-text"></i>
                                                    <a class="" data-toggle="collapse" data-parent="#expandable" href="javascript:#{{categoria.codcategoria}}">{{categoria.descricao}}</a>                                        
                                                </h4>
                                            </div>
                                            <div id="{{categoria.codcategoria}}" class="panel-collapse collapse out">
                                                <div class="panel-body">
                                                    <form role="form"> 
                                                        <div class="form-group col-xs-12">
                                                            <label>Descrição</label>
                                                            <input class="form-control" placeholder="Digite a descrição" ng-model="categoria.descricao">
                                                        </div>  

                                                        <div class="form-group col-xs-12">
                                                            <label>Ativo</label>
                                                            <div class="radio">
                                                                <label class="radio"><input type="radio" value="S" name="categoria.ativo" ng-model="categoria.ativo" ng-checked="categoria.ativo == 'S'">Sim</label>
                                                            </div>       
                                                            <div class="radio">
                                                                <label class="radio"><input type="radio" value="N" name="categoria.ativo" ng-model="categoria.ativo" ng-checked="categoria.ativo == 'N'">Não</label>
                                                            </div>                                    
                                                        </div> 

                                                    </form>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="form-group">                                                  
                                                        <button class="btn btn-sm btn-social btn-success pull-right"
                                                                ng-click="updateCategoria(categoria)">
                                                            <i class="fa fa-floppy-o"></i> Salvar
                                                        </button>  
                                                    </div>     
                                                    <div class="form-group">                                                  
                                                        <button class="btn btn-sm btn-social btn-danger"
                                                                ng-click="deleteCategoria(categoria)">
                                                            <i class="fa fa-trash-o"></i> Excluir
                                                        </button>  
                                                    </div>   
                                                </div>
                                            </div>
                                        </div>  
                                    </div>                    
                                </div>



                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
          
        </div>
    </div>
</div>