<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Modelos de Resposta</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading {{empresa.cor_2}} white-text">
                        <i class="fa fa-paperclip"></i> <b> Modelos</b>
                    </div>
                    <div class="panel-body"> 
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="panel panel-default">                         
                                    <div class="panel-group" id="expandable">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-plus grey-text"></i>
                                                    <a class="" data-toggle="collapse" data-parent="#expandable" href="javascript:#novo_modelo">Novo</a>
                                                </h4>
                                            </div>
                                            <div id="novo_modelo" class="panel-collapse collapse out">
                                                <div class="panel-body">
                                                    <form role="form"> 
                                                        <div class="form-group col-xs-12">
                                                            <label>Assunto</label>
                                                            <input class="form-control" placeholder="Digite o assunto" ng-model="modelo.assunto">
                                                        </div>  

                                                        <div class="form-group col-xs-12">
                                                            <label>Mensagem</label>
                                                            <textarea placeholder="Digite a mensagem" ng-model="modelo.mensagem" class="form-control"></textarea>                                                           
                                                        </div>                                                                                                                                                          
                                                    </form>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="form-group">                                                  
                                                        <button class="btn btn-sm btn-social btn-success"
                                                                ng-click="insertModelo(modelo)">
                                                            <i class="fa fa-floppy-o"></i> Incluir
                                                        </button>  
                                                    </div>     
                                                </div>
                                            </div>
                                        </div>  
                                    </div>                    
                                </div>

                                <div class="panel panel-default" ng-init="getModelos()">                         
                                    <div class="panel-group" id="expandable">
                                        <div class="panel slide-right" ng-repeat="modelo in modelos | filter: pesquisa_modelo">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-chevron-down grey-text"></i>
                                                    <a class="" data-toggle="collapse" data-parent="#expandable" href="javascript:#{{modelo.codmodelo}}">{{modelo.assunto}}</a>                                        
                                                </h4>
                                            </div>
                                            <div id="{{modelo.codmodelo}}" class="panel-collapse collapse out">
                                                <div class="panel-body">
                                                    <form role="form"> 
                                                        <div class="form-group col-xs-12">
                                                            <label>Assunto</label>
                                                            <input class="form-control" placeholder="Digite o assunto" ng-model="modelo.assunto">
                                                        </div>  

                                                        <div class="form-group col-xs-12">
                                                            <label>Mensagem</label>
                                                            <textarea class="form-control" placeholder="Digite a mensagem" ng-model="modelo.mensagem"></textarea>                                                           
                                                        </div>                                                                                                                                                              
                                                    </form>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="form-group">                                                  
                                                        <button class="btn btn-sm btn-social btn-success pull-right"
                                                                ng-click="updateModelo(modelo)">
                                                            <i class="fa fa-floppy-o"></i> Salvar
                                                        </button>  
                                                    </div>     
                                                    <div class="form-group">                                                  
                                                        <button class="btn btn-sm btn-social btn-danger"
                                                                ng-click="deleteModelo(modelo)">
                                                            <i class="fa fa-trash-o"></i> Excluir
                                                        </button>  
                                                    </div>   
                                                </div>
                                            </div>
                                        </div> 
                                    </div>                    
                                </div>



                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
          
        </div>
    </div>
</div>