<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Novo Ticket</h2>
            </div>
        </div>
        <div class="row">       
            <div class="col-xs-12">           

                <div class="panel panel-default">             
                    <div class="panel-heading {{empresa.cor_2}} white-text">
                        <b><i class="fa fa-ticket"></i> Novo</b>
                    </div>                       
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">   
                                <form role="form">
                                    <div class="col-xs-12 col-sm-12 ">

                                        <div class="form-group col-xs-6" ng-init="getCategorias()">
                                            <label>Categoria</label>                            
                                            <select class="form-control"                                               
                                                ng-options="categoria.codcategoria as categoria.descricao for categoria in categorias" 
                                                ng-model="novo_ticket.codcategoria">    
                                                <option value="" disabled="true">Selecione uma categoria</option>
                                            </select>
                                        </div>  

                                        <div class="form-group col-xs-6">
                                            <label>Assunto</label>
                                            <input class="form-control" placeholder="Assunto do ticket" ng-model="novo_ticket.assunto">
                                        </div>
                       
                                        <div class="form-group col-xs-12">
                                            <label>Mensagem</label>
                                            <textarea class="form-control" style="min-width: 100%; max-width: 100%; min-height: 150px" placeholder="Digite sua mensagem aqui" ng-model="novo_ticket.mensagem"></textarea>                                      
                                        </div>

                                        <div class="form-group col-xs-12">
                                            <div class="alert alert-info alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                Descreva o máximo de detalhes possíveis em sua mensagem. Quanto mais detalhes e informações, mais ágil será sua <b>solução</b>.
                                            </div>
                                        </div>                                            

                                       <div class="col-xs-12">                
                                            <div class="form-group">
                                                <label>Anexos</label>
                                                <div class="dropzone" id="dropzone1" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
                                                <button class="btn btn-sm btn-default mt-1" ng-click="removerAnexos()">Limpar anexos</button>
                                            </div>                                                                 
                                        </div>

                                         <div class="col-xs-12">                                                                       
                                            <hr>              
                                            <div class="checkbox">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="novo_ticket.notificar_cliente" ng-model="novo_ticket.notificar_cliente">Receber notificação de abertura por e-mail
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                </form>   

                            </div>                   
                        </div>                    
                    </div>

                    <div class="panel-footer">      
                        <a class="btn btn-sm btn-social btn-default" href="#/app/Tickets/">
                            <i class="fa fa-chevron-circle-left"></i> Voltar
                        </a>   

                        <button class="btn btn-sm btn-social btn-success pull-right"
                            ng-click="blockEnviar = true; insertTicket(novo_ticket)"
                            ng-disabled="blockEnviar || !novo_ticket.codcategoria || !novo_ticket.assunto || !novo_ticket.mensagem">
                            <i class="fa fa-paper-plane-o"></i> Enviar ticket
                        </button>      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>