<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Novo Ticket (ADMIN)</h2>
            </div>
        </div>
        <div class="row">       
            <div class="col-xs-12">           

                <div class="panel panel-default">             
                    <div class="panel-heading {{empresa.cor_2}} white-text">
                        <b><i class="fa fa-ticket"></i><big><big> Novo</big></big></b>             
                        
                        <button class="btn btn-sm btn-social btn-default pull-right" data-toggle="modal" data-target="#novo_cliente_modal">
                            <i class="fa fa-id-card-o"></i> Novo Cliente
                        </button>                 
                    </div>                       
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">

                                <form role="form">

                                    <div class="col-xs-12 col-sm-12">
                                            
                                        <div class="form-group col-xs-6">
                                            <label>Cliente</label>                                          
                                            <input ng-change="getClientes(novo_ticket.cliente)" 
                                                list="clientes" type="text" class="form-control" placeholder="Pesquise o cliente aqui"                                                    
                                                ng-blur="getCliente(cliente)"
                                                ng-model="novo_ticket.cliente">
                                        </div>

                                        <datalist id="clientes">
                                            <option ng-repeat="cliente in clientes | filter: novo_ticket.cliente"   
                                                   value="{{cliente.empresa}} - {{cliente.nome}} - {{cliente.email}}" />                       
                                        </datalist>

                                        <div class="form-group col-xs-6" ng-init="getCategorias()">
                                            <label>Categoria</label>                            
                                            <select class="form-control"                                               
                                                ng-options="categoria.codcategoria as categoria.descricao for categoria in categorias" 
                                                ng-model="novo_ticket.codcategoria">    
                                                <option value="" disabled="true">Selecione uma categoria</option>
                                            </select>
                                        </div>  

                                        <div class="form-group col-xs-6" ng-init="getModelos()">
                                            <label>Modelo</label>                            
                                            <select class="form-control"
                                                ng-options="modelo as modelo.assunto for modelo in modelos" 
                                                ng-model="novo_ticket.modelo"
                                                ng-change="novo_ticket.assunto = novo_ticket.modelo.assunto; novo_ticket.mensagem = novo_ticket.modelo.mensagem"                                                
                                                >                                                
                                                <option value="">Selecione um modelo</option>                                     
                                            </select>
                                        </div>  

                                        <div class="form-group col-xs-6">
                                            <label>Assunto</label>
                                            <input class="form-control" placeholder="Assunto do ticket" ng-model="novo_ticket.assunto">
                                        </div>

                                        <div class="form-group col-xs-12">
                                            <label>Mensagem</label>
                                            <textarea class="form-control" style="min-width: 100%; max-width: 100%; min-height: 150px" placeholder="Digite sua mensagem aqui" ng-model="novo_ticket.mensagem"></textarea>
                                        </div>

                                        <div class="col-xs-12">                
                                            <div class="form-group">
                                                <label>Anexos</label>
                                                <div class="dropzone" id="dropzone1" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>                   
                                                <button class="btn btn-sm btn-default mt-1" ng-click="removerAnexos()">Limpar anexos</button>
                                            </div>                                                                 
                                        </div>
                                                                                               
                                        <div class="col-xs-12">  
                                            <hr>              
                                            <div class="checkbox">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="novo_ticket.notificar_cliente" ng-model="novo_ticket.notificar_cliente" ng-checked="true" ng-init="novo_ticket.notificar_cliente = 1">Notificar cliente por email
                                                </label>
                                            </div>
                                        </div>
                   
                                    </div>
                             
                                </form>   

                            </div>                   
                        </div>                    
                    </div>

                    <div class="panel-footer">      
                        <a class="btn btn-sm btn-social btn-default" href="#/app/Tickets/">
                            <i class="fa fa-chevron-circle-left"></i> Voltar
                        </a>   

                        <button class="btn btn-sm btn-social btn-success pull-right" 
                            ng-disabled="blockEnviar || !novo_ticket.codcategoria || !novo_ticket.cliente || !novo_ticket.assunto || !novo_ticket.mensagem"
                            ng-click="blockEnviar = true; insertTicket(novo_ticket)">
                            <i class="fa fa-paper-plane-o"></i> Enviar ticket
                        </button>      
                    </div>                    
                </div>

                    <!-- CADASTRO DE CLIENTE -->
                    <div class="modal fade in" id="novo_cliente_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header {{empresa.cor_2}}">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Novo cliente</h4>
                                </div>

                                <div class="modal-body">             

                                    <div class="form-group"> 

                                        <fieldset>
                                            <div class="form-group col-md-6">
                                                <label>Nome</label>
                                                <input class="form-control" tabindex="1" placeholder="Digite seu nome" type="text" ng-model="cliente_novo.nome" autofocus>
                                            </div>          

                                            <div class="form-group col-md-6">
                                                <label>E-mail (Usado acessar o Help Desk)</label>
                                                <input class="form-control" tabindex="1" placeholder="Digite seu e-mail de acesso" type="email" ng-model="cliente_novo.email">
                                            </div>       

                                            <div class="form-group col-md-12">
                                                <label>Empresa (Fantasia)</label>
                                                <input class="form-control" tabindex="1" placeholder="Digite sua empresa" type="text" ng-model="cliente_novo.empresa">
                                            </div>       

                                            <div class="form-group col-md-6">
                                                <label>Telefone</label>
                                                <input class="form-control" tabindex="1" placeholder="Digite seu telefone" type="text" ng-model="cliente_novo.tel" mask='(99) 9?9999-9999'>
                                            </div>    

                                            <div class="form-group col-md-6">
                                                <label>Cargo ou Área</label>
                                                <input class="form-control" tabindex="1" placeholder="Digite seu cargo ou área" type="text" ng-model="cliente_novo.cargo">
                                            </div>              
                                         
                                        </fieldset>

                                    </div>         
                                
                                </div>

                                <div class="modal-footer">                                    
                                    <div class="form-group">                                      
                                        <button type="button" class="btn btn-sm btn-default mt-1" ng-click="insertCliente(cliente_novo)">Cadastrar</button>                                
                                    </div>
                                </div>

                            </div>                            
                        </div>                     
                    </div>

            </div>
        </div>
    </div>
</div>