<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Tickets Pesquisa</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading {{empresa.cor_warning}}">
                        <div class="form-group input-group">     

                            <div class="col-md-10 col-xs-10">                        
                                <input type="text" class="form-control" ng-model="pesquisa_ticket.termo" placeholder="Pesquise assunto, código ou mensagem aqui" tabindex="1">                                
                            </div>

                            <div class="col-md-2 col-xs-2">
                                <datepicker date-format="dd/MM/yyyy">
                                    <input value="" class="form-control" ng-model="pesquisa_ticket.data_finalizacao" type="text" placeholder="Resolução">
                                </datepicker>
                            </div>     


                            <div class="col-md-2 col-xs-12 mt-1">                        
                                <datepicker date-format="dd/MM/yyyy">
                                    <input value="" class="form-control" ng-model="pesquisa_ticket.data_inicial" type="text" placeholder="Data inicial" ng-init="pesquisa_ticket.data_inicial = comeco_mes">
                                </datepicker>
                            </div>     

                            <div class="col-md-2 col-xs-12 mt-1">                        
                                <datepicker date-format="dd/MM/yyyy">
                                    <input value="" class="form-control" ng-model="pesquisa_ticket.data_final" type="text" placeholder="Data final" ng-init="pesquisa_ticket.data_final = hoje">
                                </datepicker>
                            </div>

                            <div class="col-md-3 col-xs-12 mt-1">                                                               
                                <input list="clientes" type="text" class="form-control" placeholder="Pesquise o cliente aqui" ng-change="getClientes(pesquisa_ticket.cliente)"                                
                                    ng-model="pesquisa_ticket.cliente">
                            </div>

                            <datalist id="clientes">
                                <option ng-repeat="cliente in clientes | filter: pesquisa_ticket.cliente" 
                                        ng-model="pesquisa_ticket.cliente"   
                                        value="{{cliente.empresa}} - {{cliente.nome}} - {{cliente.email}}" />                       
                            </datalist>


                            <div class="col-md-3 col-xs-12 mt-1" ng-init="getUsuarios()">                                                             
                                <select class="form-control input-sm" ng-options="usuario.codusuario as usuario.nome for usuario in usuarios" ng-model="pesquisa_ticket.codusuario">
                                    <option value="">Selecione um atendente</option>                                 
                                </select>                                                   
                            </div>

                            <button class="btn btn-sm btn-default mt-1" ng-click="pesquisa_ticket = ''" style="margin-right: 3px;">Limpar</button>                           
                            <button class="btn btn-sm btn-primary mt-1" ng-click="getTickets(pesquisa_ticket)" tabindex="2"><i class="fa fa-search"></i> Pesquisar</button>                           
                        </div>                                     
                    </div>

                    <div class="panel-body" ng-init="getTickets(pesquisa_ticket)">

                        <div class="alert alert-warning" ng-show="tickets_pesquisa == 0">
                            <i class="fa fa-exclamation-triangle"></i> Nenhum ticket encontrado.
                        </div>

                        <table width="100%" class="table table-striped table-hover" ng-hide="tickets_pesquisa.length == 0">
                            <thead class="{{empresa.cor_warning}} white-text">
                                <tr><label class="grey-text" ng-hide="tickets_pesquisa.length == 0">Exibindo <u>{{tickets_pesquisa.length}}</u> resultados</label></tr>
                                <tr>
                                    <th>Cód.</th>
                                    <th>Cliente</th>                               
                                    <th>Categoria</th>
                                    <th>Assunto</th>
                                    <th>Atendente</th>
                                    <th>Status</th>
                                    <th>Dt. Abertura</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX table table-striped slide-right" ng-repeat="ticket in tickets_pesquisa | limitTo: num_resultados : begin_resultados">
                                    <td><label ng-bind="ticket.codticket"></label></td>
                                    <td><label><span class="badge">{{ticket.empresa}}</span> {{ticket.cliente_representante}}</label></td>
                                    <td><label ng-bind="ticket.categoria"></label></td>                                    
                                    <td><u><a class="capitalize" href="#/app/VerTicketAdmin/{{ticket.hash_link}}"><label class="clickable" ng-bind="ticket.assunto"></label></a></u></td>
                                    <td><label class="capitalize" ng-bind="ticket.atendente"></label></td>
                                    <td><label class="capitalize" ng-bind="ticket.status"></label></td>                                    
                                    <td><i class="fa fa-calendar-o"></i> <label ng-bind="ticket.data"></label></td>                                                                                                                        
                                </tr>
                            </tbody>           
                        </table> 

                    </div>
                </div>
            </div>             
        </div>
    </div>   
</div>