<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Tickets Melhorias</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading {{empresa.cor_info}}">
                        <div class="form-group input-group">                                    
                            <input type="text" class="form-control" ng-model="pesquisa_ticket" placeholder="Pesquise seu ticket aqui">
                            <span class="input-group-addon" ng-init="getTicketsMelhorias(pesquisa_ticket)"><i class="fa fa-search"></i></span>                          
                        </div>
                    </div>
                    <div class="panel-body">                

                        <div class="alert alert-success" ng-show="tickets_melhorias.length == 0">
                            <i class="fa fa-exclamation-triangle"></i> Nenhum ticket em aberto.
                        </div>

                        <table width="100%" class="table table-striped table-hover" ng-hide="tickets_melhorias.length == 0">
                            <tr><label class="grey-text" ng-hide="tickets_melhorias.length == 0">Exibindo <u>{{tickets_melhorias.length}}</u> resultados</label></tr>
                            <thead class="{{empresa.cor_info}} white-text">
                                <tr>
                                    <th>Cód.</th>
                                    <th>Cliente</th>                                    
                                    <th>Categoria</th>
                                    <th>Assunto</th>
                                    <th>Atendente</th>                                    
                                    <th>Status</th>
                                    <th>Dt. Abertura</th>
                                    <th>Aberto há</th>                                    
                                    <th>Último comentário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX table table-striped slide-right" ng-repeat="ticket in tickets_melhorias | filter: pesquisa_ticket">
                                    <td><label ng-bind="ticket.codticket"></label></td>                                    
                                    <td><label><span class="badge">{{ticket.empresa}}</span> {{ticket.cliente_representante}}</label></td>
                                    <td><label ng-bind="ticket.categoria"></label></td>
                                    <td>
                                        <big>
                                            <i class="fa fa-comment orange-text clickable" ng-show="ticket.ultimo_respondente == 'cliente'" title="{{ticket.cliente_representante}} respondeu sua mensagem"></i>
                                            <i class="fa fa-paperclip blue-text" ng-show="ticket.anexos != false" title="Esse ticket contém anexos"></i>
                                        </big> 
                                        <u><a class="capitalize" href="#/app/VerTicketAdmin/{{ticket.hash_link}}"><label class="clickable" ng-bind="ticket.assunto"></label></a></u>
                                    </td>
                                    <td><label class="capitalize" ng-bind="ticket.atendente"></label></td>
                                    <td><label class="capitalize" ng-bind="ticket.status"></label></td>                                    
                                    <td><i class="fa fa-calendar-o"></i> <label ng-bind="ticket.data"></label></td>  

                                    <td ng-show="ticket.dias > 1"><label ng-bind="ticket.dias"></label> dias</td>                                    
                                    <td ng-hide="ticket.dias > 1"><label ng-bind="ticket.dias"></label> dia</td>  
                                                                                                          
                                    <td>
                                        <i class="fa fa-calendar-o red-text" ng-show="ticket.ultima_resposta"></i> <label ng-show="ticket.ultima_resposta" ng-bind="ticket.ultima_resposta"></label>
                                        <label ng-hide="ticket.ultima_resposta">Nenhuma resposta</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                                            
                    </div>
                </div>
            </div>             
        </div>
    </div>   
</div>