<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header">Tickets - {{hoje}}
                    <big><span class="badge orange pd-1 slide-down" ng-show="tickets_totais_dia.total_dia.total_dia > 0"><big>{{tickets_totais_dia.total_dia.total_dia}} aberto(s) hoje</big></span></big>
                    <big><span class="badge green darken-1 pd-1 slide-down" ng-show="tickets_totais_dia.total_resolvidos.total_resolvidos > 0"><big>{{tickets_totais_dia.total_resolvidos.total_resolvidos}} resolvido(s)</big></span></big>
                    

                    <big class="pull-right"><span class="badge green darken-1 pd-1 mg-1 slide-down" ng-show="tickets_totais_dia.resolvidos_mes > 0" data-toggle="tooltip" data-placement="top" title="Resolvidos no mês"><big>{{tickets_totais_dia.resolvidos_mes}}</big></span></big>
                    <big class="pull-right"><span class="badge orange darken-1 pd-1 mg-1 slide-down" ng-show="tickets_totais_dia.abertos_mes.abertos_mes > 0" data-toggle="tooltip" data-placement="top" title="Abertos no mês"><big>{{tickets_totais_dia.abertos_mes.abertos_mes}}</big></span></big>
                    <big class="pull-right"><span class="badge blue darken-1 pd-1 slide-down" ng-show="tickets_totais_dia.eficiencia_mes > 0"><big>Eficiência do mês: {{tickets_totais_dia.eficiencia_mes}} %</big></span></big>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading {{empresa.cor_2}}">
                        <div class="form-group input-group">                        
                            <input type="text" class="form-control" ng-model="pesquisa_ticket" placeholder="Pesquise seu ticket aqui">
                            <span class="input-group-addon" ng-init="getTicketsToday(pesquisa_ticket)"><i class="fa fa-search"></i></span>                          
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="alert alert-success slide-right" ng-show="tickets_today.length == 0">
                            <i class="fa fa-exclamation-triangle"></i> Nenhum ticket em aberto.
                        </div>

                        <table width="100%" class="table table-striped table-hover" ng-hide="tickets_today.length == 0">
                            <tr><label class="grey-text" ng-hide="tickets_today.length == 0">Exibindo <u>{{tickets_today.length}}</u> resultados</label></tr>
                            <thead class="{{empresa.cor_2}}">
                                <tr>
                                    <th>Cód.</th>
                                    <th>Cliente</th>                                    
                                    <th>Categoria</th>
                                    <th>Assunto</th>
                                    <th>Atendente</th>
                                    <th>Status</th>
                                    <th>Hora</th>                                 
                                    <th>Último comentário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX table table-striped slide-right" ng-repeat="ticket in tickets_today | filter: pesquisa_ticket">
                                    <td><label ng-bind="ticket.codticket"></label></td>                                                                        
                                    <td><label><span class="badge">{{ticket.empresa}}</span> {{ticket.cliente_representante}}</label></td>
                                    <td><label>{{ticket.categoria}}</label></td>
                                    <td>
                                        <big>
                                            <i class="fa fa-comment orange-text clickable" ng-show="ticket.ultimo_respondente == 'cliente'" title="{{ticket.cliente_representante}} respondeu sua mensagem"></i>
                                            <i class="fa fa-paperclip blue-text" ng-show="ticket.anexos != false" title="Esse ticket contém anexos"></i>
                                        </big> 
                                        <u><a class="capitalize" href="#/app/VerTicketAdmin/{{ticket.hash_link}}"><label class="clickable" ng-bind="ticket.assunto"></label></a></u>
                                    </td>
                                    <td><label class="capitalize" ng-bind="ticket.atendente"></label></td>
                                    <td><label class="capitalize" ng-bind="ticket.status"></label></td>
                                    <td><i class="fa fa-clock-o"></i> <label ng-bind="ticket.hora"></label></td>                                    
                                    <td>
                                        <i class="fa fa-clock-o red-text" ng-show="ticket.ultima_resposta !== '00:00'"></i> <label ng-show="ticket.ultima_resposta !== '00:00'" ng-bind="ticket.ultima_resposta"></label>
                                        <label ng-hide="ticket.ultima_resposta !== '00:00'">Nenhuma resposta</label>
                                    </td>                                    
                                </tr>
                            </tbody>
                        </table> 
                                            
                    </div>
                </div>
            </div>             
        </div>
    </div>   
</div>