<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header">Tickets</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading {{empresa.cor_2}}">
                        <div class="form-group input-group">                        
                            <input type="text" class="form-control" ng-model="pesquisa_ticket" placeholder="Pesquise seu ticket aqui">
                            <span class="input-group-addon" ng-init="getTicketsByCliente(pesquisa_ticket)"><i class="fa fa-search"></i></span>                          
                        </div>
                    </div>
                    <div class="panel-body">                

                        <div class="alert alert-success" ng-show="tickets_cliente.length == 0">
                            <i class="fa fa-exclamation-triangle"></i> Nenhum ticket em aberto.
                        </div>

                        <table width="100%" class="table table-striped table-hover" ng-hide="tickets_cliente.length == 0">
                            <tr><label class="grey-text" ng-hide="tickets_cliente.length == 0">Exibindo <u>{{tickets_cliente.length}}</u> resultados</label></tr>
                            <thead class="{{empresa.cor_2}}">
                                <tr>
                                    <th>Cód.</th>
                                    <th>Cliente</th>                               
                                    <th>Categoria</th>
                                    <th>Assunto</th>
                                    <th>Atendente</th>
                                    <th>Status</th>
                                    <th>Dt. Abertura</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX table table-striped slide-right" ng-repeat="ticket in tickets_cliente  | filter: pesquisa_ticket" ng-class="{'green lighten-5' : ticket.status == 'Resolvido', 'blue lighten-5 black-text' : ticket.status == 'Novo'}">
                                    <td><label ng-bind="ticket.codticket"></label></td>
                                    <td><label><span class="badge">{{ticket.empresa}}</span> {{ticket.cliente_representante}}</label></td>
                                    <td><label ng-bind="ticket.categoria"></label></td>                                    
                                    <td>
                                        <big>
                                            <i class="fa fa-paperclip blue-text" ng-show="ticket.anexos != false" title="Esse ticket contém anexos"></i>
                                        </big>
                                        <u>
                                            <a class="capitalize" href="#/app/VerTicketCliente/{{ticket.hash_link}}"><label class="clickable" ng-bind="ticket.assunto"></label></a>
                                        </u>
                                    </td>
                                    <td><label class="capitalize" ng-bind="ticket.atendente"></label></td>
                                    <td><label class="capitalize" ng-bind="ticket.status"></label></td>                                    
                                    <td><i class="fa fa-calendar-o"></i> <label ng-bind="ticket.data"></label></td>                                                                                                                        
                                </tr>
                            </tbody>
                        </table> 
                                            
                    </div>
                </div>
            </div>             
        </div>
    </div>   
</div>