﻿<div id="wrapper" ng-init="getTicket()">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Visualizar Ticket</h2>
            </div>
        </div>

        <div class="jumbotron col-xs-12" ng-show="ticket.msg == 'false'">
          <center>
              <h3>Ops, não encontramos o seu ticket <i class="fa fa-exclamation"></i></h3>
              <br><hr>
              <h5>O link que você acessou é inválido.</h5>
              <a class="btn btn-default" ui-sref="navbar_completa.tickets_clientes">Ir para a pesquisa</a>
          </center>
        </div>


        <div class="row slide-down" ng-hide="!ticket.codticket">       
            <div class="col-xs-12">           

                <div class="panel panel-default">             
                    
                    <div class="panel-heading {{empresa.cor_2}} white-text">
                        <b>Chamado N°:  <big><big><label ng-bind="ticket.codticket"></label></big></big></b>                            
                   
                        <span class="badge white black-text pull-right">{{ticket.status}}</span>
                    </div>

                    <div class="panel-body">
                        <div class="row">

                            <div class="col-xs-8">
                                
                                <div class="form-group col-xs-6">
                                    <label class="grey-text">Cliente:</label>
                                    <label ng-bind="ticket.cliente.empresa"></label>                                    
                                </div>   

                                <div class="form-group col-xs-6">
                                    <label class="grey-text">Responsável:</label>
                                    <label ng-bind="ticket.cliente.nome"></label>                             
                                </div>                                           

                                <div class="form-group col-xs-6">
                                    <label class="grey-text"><i class="fa fa-phone-square"></i></label>                                    
                                    <a href="tel:{{ticket.cliente.tel}}"><label class="clickable" ng-bind="ticket.cliente.tel"></label></a>
                                </div>                                           

                                <div class="form-group col-xs-6">
                                    <label class="grey-text"><i class="fa fa-envelope-o"></i></label>
                                    <a href="mailto:{{ticket.cliente.email}}"><label class="clickable" ng-bind="ticket.cliente.email"></label></a>
                                </div>                      
                            </div>

                            <div class="col-xs-4" ng-show="ticket.cliente.ultimos_tickets.length > 0">                                
                                <div class="form-group">
                                    Últimos tickets de  <label>{{ticket.cliente.nome}}</label>
                                    <select multiple="" class="form-control" >
                                        <option ng-repeat="ultima in ticket.cliente.ultimos_tickets">{{ultima.assunto}}</option>
                                    </select>
                                </div>
                            </div>
                        
                            <div class="form-group col-xs-12">
                                <hr>                                       
                            </div>
                  
                            <div class="col-xs-12">
                                <div class="form-group col-xs-12">
                                    <h4>
                                        <label class="grey-text">Assunto:</label>
                                        <label ng-bind="ticket.assunto" ng-hide="editar_ticket"></label>                                                                                 
                                    </h4>                                        
                                </div> 

                                <div class="form-group col-xs-4">
                                    <label class="grey-text"><i class="fa fa-bars"></i> Categoria:</label>
                                    <label ng-bind="ticket.categoria" ng-hide="editar_ticket"></label>                                                                                                            
                                </div>

                                <div class="form-group col-xs-4">
                                    <label class="grey-text"><i class="fa fa-user"></i> Atendente: </label>
                                    <label ng-bind="ticket.usuario.nome" ng-hide="editar_ticket"></label>                                     
                                </div>              
                    
                                <div class="form-group col-xs-3">
                                    <label class="grey-text"><i class="fa fa-paper-plane-o"></i> Enviado em: </label>
                                    <label ng-bind="ticket.data"></label>                                    
                                </div>                                
                            </div>

                            <div class="col-xs-12">                        
                                <div class="panel">
                                                                  
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <label class="grey-text">Mensagem: </label>                
                                        </div>                                        
                                    </div>

                                    <div class="panel-body">                                                                               
                                        <div class="form-group col-xs-12" ng-hide="editar_ticket">
                                            
                                        <div class="panel panel-default">                                           
                                            <div class="panel-body orange lighten-5">
                                                <b><p ng-bind-html="ticket.mensagem | nl2br"></p></b>

                                                <div class="form-group col-xs-12 mt-1" ng-show="ticket.anexos != false">
                                                    <label class="grey-text"><i class="fa fa-download"></i> Anexos: </label>                                        
                                                    <br /><a href="" ng-repeat="anexo in ticket.anexos" ng-click="getAnexo(anexo)">{{anexo.label}}<br /></a>                                                                                                                                                                                
                                                </div>     

                                            </div>                                            
                                        </div> 
                                     
                                        </div>                                    
                                    </div>  

                                </div>
                            </div>         
                        

                            <div class="form-group col-xs-12">
                                <hr>                                       
                            </div>

                            <div class="form-group col-xs-12">
                                <h4>
                                    <label>Histórico de Respostas</label>                                  
                                </h4>                                        
                            </div> 

                            <div class="col-xs-12">    

                                <div class="alert alert-warning col-xs-6 col-xs-offset-3" ng-hide="ticket.mensagens.length > 0">
                                    <i class="fa fa-exclamation-triangle"></i> Esse chamado ainda não possui histórico de respostas. 
                                </div>
                          
                                <div class="panel col-xs-10 col-xs-offset-1" ng-repeat="mensagem in ticket.mensagens track by $index" 
                                    ng-class="{'resposta-box-cliente col-xs-10' : mensagem.codcliente > 0, 'blue-grey lighten-5' : mensagem.codusuario > 0, 'green lighten-5' : mensagem.codcliente > 0, 'resposta-box-usuario' : mensagem.codusuario > 0}"
                                    >
                                    
                                    <div class="panel-heading" id="{{mensagem.codmensagem}}">
                                        <div class="pull-left">
                                            <label class="grey-text">Resposta de:</label>
                                            <label ng-bind="mensagem.responsavel"></label>
                                        </div>              
                                        <div class="pull-right">
                                            <label class="grey-text">Enviado em:</label>
                                            <label ng-bind="mensagem.data"></label>
                                        </div>
                                    </div>

                                    <div class="panel-body">   
                                        <div class="form-group col-xs-12">
                                            <p ng-bind-html="mensagem.mensagem | nl2br"></p>
                                        </div>

                                        <div class="form-group">                                        
                                            <br /><a href="" ng-repeat="anexo_mensagem in mensagem.anexos" ng-click="getAnexo(anexo_mensagem)"><i class="fa fa-download"></i> {{anexo_mensagem.label}}<br /></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                                                                                    
                            <div class="form-group col-xs-12" ng-show="ticket.status != 'Resolvido' && ticket.status != 'Expirado'">
                                <hr>    
                            
                                <div class="form-group col-xs-12">
                                    <label>Enviar nova resposta</label>
                                </div>
                     
                                <div class="form-group col-xs-12">                                    
                                    <textarea tabindex="1" class="form-control" style="min-width: 100%; max-width: 100%; min-height: 150px" placeholder="Digite aqui sua nova resposta" ng-model="ticket.nova_resposta"></textarea>
                                </div>
                                         
                                <div class="form-group col-xs-6">
                                    <label>Anexar arquivos</label>
                                    <div class="dropzone" id="dropzone1" options="dzOptions" callbacks="dzCallbacks" ng-dropzone></div>
                                    <button class="btn btn-sm btn-default mt-1" ng-click="removerAnexos()">Limpar anexos</button>
                                </div>                                                                 
                            </div>

                        </div>                    
                    </div>

                    <div class="panel-footer">
                        <a class="btn btn-sm btn-social btn-default" href="#/app/TicketsCliente/">
                            <i class="fa fa-chevron-circle-left"></i> Voltar
                        </a>

                        <button class="btn btn-sm btn-social btn-success mg-1 pull-right" tabindex="3"                           
                            ng-click="insertNovaResposta(ticket, 'Aguardando Safety')"
                            ng-disabled="blockEnviaResposta"
                            ng-show="ticket.status != 'Resolvido' && ticket.status != 'Expirado'">
                            <i class="fa fa-check-square"></i>Enviar resposta
                        </button>
                   
                        <button class="btn btn-sm btn-social btn-default mg-1 pull-right" tabindex="5"  
                            ng-show="ticket.status == 'Resolvido'"                         
                            ng-click="updateTicketStatus(ticket.codticket, 'Reaberto')"
                            ng-disabled="blockEnviaResposta">
                            <i class="fa fa-envelope-open-o"></i>Reabrir
                        </button>      
                    </div>

                    <!-- NOTAS MODAL -->
                    <div class="modal fade in" id="notas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header {{empresa.cor_3}}">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Notas</h4>
                                </div>

                                <div class="modal-body">             

                                    <div class="form-group"> 

                                        <div class="panel ng-scope grey lighten-3" ng-repeat="nota in ticket.notas track by $index" ng-class-odd="'grey lighten-3'" ng-class-even="'red lighten-5'">
                                            
                                            <div class="panel-heading" ng-class="{'blue-border': $last}">
                                                <div class="pull-left">
                                                    <label class="grey-text">Enviado por:</label>
                                                    <label ng-bind="nota.usuario" class="ng-binding"></label>
                                                </div>
                                                <div class="pull-right">
                                                    <label class="grey-text">Enviado em:</label>
                                                    <label ng-bind="nota.data" class="ng-binding"></label>
                                                </div>
                                            </div>

                                            <div class="panel-body" ng-class="{'blue-border': $last}">                                                                               
                                                <div class="form-group col-xs-12">
                                                    <p ng-bind="nota.mensagem" class="ng-binding"></p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>         

                                    <div class="alert alert-warning" ng-hide="ticket.notas.length > 0">
                                        <i class="fa fa-exclamation-triangle"></i> Esse chamado ainda não possui notas. 
                                    </div>
                                                          
                                </div>

                                <div class="modal-footer">                                    
                                    <div class="form-group">
                                        <label class="pull-left">Nota: </label>
                                        <textarea class="form-control" style="min-width: 100%; max-width: 100%; min-height: 50px" placeholder="Digite uma nova nota" ng-model="nova_nota"></textarea>
                                        <button type="button" class="btn btn-sm btn-default mt-1" ng-click="insertNota(ticket.codticket, nova_nota)">Enviar nota</button>                                
                                    </div>
                                </div>

                            </div>                            
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>