﻿<div id="wrapper" ng-init="getTicket()">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Visualizar Ticket (ADMIN)</h2>
            </div>
        </div>
        
    <div class="jumbotron col-xs-12" ng-show="ticket.msg == 'false'">
      <center>
          <h3>Ops, não encontramos o seu ticket <i class="fa fa-exclamation"></i></h3>
          <br><hr>
          <h5>O link que você acessou é inválido.</h5>
          <a class="btn btn-default" ui-sref="navbar_completa.tickets">Ir para a pesquisa</a>
      </center>
    </div>


    <div class="row slide-down" ng-hide="!ticket.codticket">       
        <div class="col-xs-12">

            <div class="panel panel-default">             
                
                <div class="panel-heading {{empresa.cor_2}} white-text">
                    <b>Ticket N°:  <big><big><label ng-bind="ticket.codticket"></label></big></big></b>      
                    <button class="btn btn-sm btn-default pull-right mg-1" data-toggle="modal" data-target="#notas_modal"> 
                        <span class="badge {{empresa.cor_2}}" ng-show="ticket.notas.length <= 0"><i class="fa fa-plus"></i></span> 
                        <span class="badge red" ng-show="ticket.notas.length > 0">{{ticket.notas.length}}</span> 
                        Nota(s)
                    </button>
   
                    <div class="btn-group pull-right mg-1">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ticket.status}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="status in ticket.todos_status" ng-click="updateTicketStatus(ticket.codticket, status.status)"><a href="javascript:void(0)">{{status.status}}</a></li>
                        </ul>
                    </div>

                </div>

                <div class="panel-body">
                    <div class="row">

                        <div class="col-xs-8">
                            
                            <div class="form-group col-xs-6">
                                <label class="grey-text">Cliente:</label>
                                <label ng-bind="ticket.cliente.empresa"></label>                                    
                            </div>   

                            <div class="form-group col-xs-6">
                                <label class="grey-text">Responsável:</label>
                                <label ng-bind="ticket.cliente.nome"></label>                             
                            </div>                                           

                            <div class="form-group col-xs-6">
                                <label class="grey-text"><i class="fa fa-phone-square"></i></label>                                    
                                <a href="tel:{{ticket.cliente.tel}}"><label class="clickable" ng-bind="ticket.cliente.tel"></label></a>
                            </div>                                           

                            <div class="form-group col-xs-6">
                                <label class="grey-text"><i class="fa fa-envelope-o"></i></label>
                                <a href="mailto:{{ticket.cliente.email}}"><label class="clickable" ng-bind="ticket.cliente.email"></label></a>
                            </div>                      
                        </div>

                        <div class="col-xs-4" ng-show="ticket.cliente.ultimos_tickets.length > 0">                                
                            <div class="form-group">
                                Últimos tickets de  <label>{{ticket.cliente.empresa}}</label>
                                <select multiple="" class="form-control" >
                                    <option ng-repeat="ultima in ticket.cliente.ultimos_tickets">{{ultima.assunto}}</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="form-group col-xs-12">
                            <hr>                                       
                        </div>
              
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <h4>
                                    <label class="grey-text">Assunto:</label>
                                    <label ng-bind="ticket.assunto" ng-hide="editar_ticket"></label> 
                                    <label><input class="form-control" type="text" ng-model="ticket.assunto" ng-show="editar_ticket"></label>

                                    <button class="btn btn-sm btn-primary pull-right" ng-hide="editar_ticket" ng-click="editar_ticket = true" title="Editar ticket"><i class="fa fa-pencil-square-o" title="Editar ticket"></i></button>
                                </h4>                                        
                            </div> 

                            <div class="form-group col-xs-6">
                                <label class="grey-text"><i class="fa fa-building-o"></i> Tipo:</label>
                                <label ng-bind="ticket.tipo" ng-hide="editar_ticket"></label>                                                                
                                <label><select class="form-control" ng-show="editar_ticket" ng-options="tipo.codtipo as tipo.descricao for tipo in ticket.todos_tipos" ng-model="ticket.codtipo"></select></label>
                            </div>

                            <div class="form-group col-xs-4">
                                <label class="grey-text"><i class="fa fa-bars"></i> Categoria:</label>
                                <label ng-bind="ticket.categoria" ng-hide="editar_ticket"></label>                                                                    
                                <label><select class="form-control" ng-show="editar_ticket" ng-options="categoria.codcategoria as categoria.descricao for categoria in ticket.todas_categorias" ng-model="ticket.codcategoria"></select></label>
                            </div>

                            <div class="form-group col-xs-4">
                                <label class="grey-text"><i class="fa fa-user"></i> Atendente: </label>
                                <label ng-bind="ticket.usuario.nome" ng-hide="editar_ticket"></label>     

                                <label><select class="form-control" ng-show="editar_ticket" ng-options="usuario.codusuario as usuario.nome for usuario in ticket.todos_usuarios" ng-model="ticket.usuario.codusuario"></select></label>
                            </div>              
                
                            <div class="form-group col-xs-4">
                                <label class="grey-text"><i class="fa fa-paper-plane-o"></i> Enviado em: </label>
                                <label ng-bind="ticket.data"></label>                                    
                            </div>                                
                        </div>

                        <div class="col-xs-12">                        
                            <div class="panel">
                                                              
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <label class="grey-text">Mensagem: </label>                
                                    </div>                                        
                                </div>

                                <div class="panel-body">                                                                               
                                    <div class="form-group col-xs-12" ng-hide="editar_ticket">
                                        <div class="panel panel-default">                                           
                                            <div class="panel-body orange lighten-5">
                                                <b><p ng-bind-html="ticket.mensagem | nl2br"></p></b>

                                                <div class="form-group col-xs-12 mt-1" ng-show="ticket.anexos != false">
                                                    <label class="grey-text"><i class="fa fa-download"></i> Anexos: </label>                                        
                                                    <br /><a href="" ng-repeat="anexo in ticket.anexos" ng-click="getAnexo(anexo)">{{anexo.label}}<br /></a>                                                                                                                                                                                
                                                </div>     

                                            </div>                                            
                                        </div>                                                                                
                                    </div>

                                    <div class="form-group col-xs-12" ng-show="editar_ticket" style="z-index: 100">                                    
                                        <textarea tabindex="1" class="form-control" style="min-width: 100%; max-width: 100%; min-height: 150px" ng-model="ticket.mensagem"></textarea>
                                        <button class="btn btn-default btn-sm mt-1" ng-click="editar_ticket = false">Cancelar</button>
                                        <button class="btn btn-success pull-right btn-sm mt-1" ng-click="updateTicket(ticket); editar_ticket = false">Salvar</button>
                                    </div>      
                                </div>  

                                                                             

                            </div>
                        </div>         
                    

                        <div class="form-group col-xs-12">
                            <hr>                                       
                        </div>

                        <div class="form-group col-xs-12">
                            <h4>
                                <label>Histórico de Respostas</label>                                  
                            </h4>                                        
                        </div> 

                        <div class="col-xs-12">    

                            <div class="alert alert-warning col-xs-6 col-xs-offset-3" ng-hide="ticket.mensagens.length > 0">
                                <i class="fa fa-exclamation-triangle"></i> Esse ticket ainda não possui histórico de respostas. 
                            </div>

                            <div class="panel col-xs-10 col-xs-offset-1" ng-repeat="mensagem in ticket.mensagens track by $index" 
                                ng-class="{'resposta-box-cliente col-xs-10' : mensagem.codcliente > 0, 'blue-grey lighten-5' : mensagem.codusuario > 0, 'green lighten-5' : mensagem.codcliente > 0, 'resposta-box-usuario' : mensagem.codusuario > 0}"
                                >
                                
                                <div class="panel-heading" id="{{mensagem.codmensagem}}">
                                    <div class="pull-left">
                                        <label class="grey-text">Resposta de:</label>
                                        <label ng-bind="mensagem.responsavel"></label>
                                    </div>              
                                    <div class="pull-right">
                                        <label class="grey-text">Enviado em:</label>
                                        <label ng-bind="mensagem.data"></label>
                                    </div>                                
                                </div>

                                <div class="panel-body">
                                    <div class="form-group col-xs-12">
                                        <p ng-bind-html="mensagem.mensagem | nl2br"></p>
                                    </div>

                                    <div class="form-group">                                            
                                        <br /><a href="" ng-repeat="anexo_mensagem in mensagem.anexos" ng-click="getAnexo(anexo_mensagem)"><i class="fa fa-download"></i> {{anexo_mensagem.label}}<br /></a>
                                    </div>                                                    
                                </div>

                            </div>
                        </div>
                                                                                                
                        <div class="form-group col-xs-12" ng-init="getModelos()" ng-show="ticket.status != 'Resolvido' && ticket.status != 'Expirado'">                                    
                            <hr>    
                        
                            <div class="form-group col-xs-12">
                                <label>Enviar nova resposta</label>                            
                                <select class="form-control"
                                    ng-options="modelo as modelo.assunto for modelo in modelos" 
                                    ng-model="modelo"                                        
                                    ng-change="ticket.nova_resposta = modelo.mensagem"
                                    >                                                
                                    <option value="">Selecione um modelo de resposta</option>                                     
                                </select>
                            </div>
                 
                            <div class="form-group col-xs-12">                                    
                                <textarea tabindex="1" class="form-control" style="min-width: 100%; max-width: 100%; min-height: 150px" placeholder="Digite aqui sua nova resposta" ng-model="ticket.nova_resposta"></textarea>
                            </div>
                                     
                            <div class="form-group col-xs-6">
                                <label>Anexar arquivos</label>
                                <div class="dropzone" id="dropzone1" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>    
                                <button class="btn btn-sm btn-default mt-1" ng-click="removerAnexos()">Limpar anexos</button>                                                                                   
                            </div>                                                                 
                        </div>

                    </div>                    
                </div>

                <div class="panel-footer">
                    <a class="btn btn-sm btn-social btn-default" href="#/app/Tickets/">
                        <i class="fa fa-chevron-circle-left"></i> Voltar
                    </a>

                    <button class="btn btn-sm btn-social btn-success mg-1 pull-right" tabindex="3"                            
                        ng-click="insertNovaResposta(ticket, 'Resolvido')"
                        ng-disabled="blockEnviaResposta"
                        ng-show="ticket.status != 'Resolvido'"
                        >
                        <i class="fa fa-check-square"></i>Enviar resposta e <b>resolver</b>
                    </button>


                    <button class="btn btn-sm btn-social btn-default mg-1 pull-right" tabindex="4"                            
                        ng-click="insertNovaResposta(ticket, 'Em Progresso')"
                        ng-disabled="blockEnviaResposta"
                        ng-show="ticket.status != 'Resolvido'"
                        >
                        <i class="fa fa-list"></i>Enviar como <b>em progresso</b>
                    </button>    

                    <button class="btn btn-sm btn-social btn-info btn-default mg-1 pull-right" tabindex="5"                            
                        ng-click="insertNovaResposta(ticket, 'Aguardando Cliente')"
                        ng-disabled="blockEnviaResposta"
                        ng-show="ticket.status != 'Resolvido'"
                        >
                        <i class="fa fa-pause"></i>Enviar como <b>Aguardando Cliente</b>
                    </button>    

                    <button class="btn btn-sm btn-social btn-default mg-1 pull-right" tabindex="6"
                        ng-show="ticket.status == 'Resolvido'"                         
                        ng-click="updateTicketStatus(ticket.codticket, 'Reaberto')"
                        ng-disabled="blockEnviaResposta">
                        <i class="fa fa-envelope-open-o"></i>Reabrir
                    </button>      
                </div>

                <!-- NOTAS MODAL -->
                <div class="modal fade in" id="notas_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header {{empresa.cor_3}}">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Notas</h4>
                            </div>

                            <div class="modal-body">             

                                <div class="form-group"> 

                                    <div class="panel ng-scope grey lighten-3" ng-repeat="nota in ticket.notas track by $index" ng-class-odd="'grey lighten-3'" ng-class-even="'red lighten-5'">
                                        
                                        <div class="panel-heading" ng-class="{'blue-border': $last}">
                                            <div class="pull-left">
                                                <label class="grey-text">Enviado por:</label>
                                                <label ng-bind="nota.usuario" class="ng-binding"></label>
                                            </div>
                                            <div class="pull-right">
                                                <label class="grey-text">Enviado em:</label>
                                                <label ng-bind="nota.data" class="ng-binding"></label>
                                            </div>
                                        </div>

                                        <div class="panel-body" ng-class="{'blue-border': $last}">                                                                               
                                            <div class="form-group col-xs-12">
                                                <p ng-bind-html="nota.mensagem | nl2br" class="ng-binding"></p>
                                            </div>
                                        </div>

                                    </div>

                                </div>         

                                <div class="alert alert-warning" ng-hide="ticket.notas.length > 0">
                                    <i class="fa fa-exclamation-triangle"></i> Esse ticket ainda não possui notas. 
                                </div>
                                                      
                            </div>

                            <div class="modal-footer">                                    
                                <div class="form-group">
                                    <label class="pull-left">Nota: </label>
                                    <textarea class="form-control" style="min-width: 100%; max-width: 100%; min-height: 50px" placeholder="Digite uma nova nota" ng-model="nova_nota"></textarea>
                                    <button type="button" class="btn btn-sm btn-default mt-1" ng-click="insertNota(ticket.codticket, nova_nota)">Enviar nota</button>                                
                                </div>
                            </div>

                        </div>                            
                    </div>                     
                </div>

            </div>

            <div class="panel">
                <div class="panel-body">                        
                    <span ng-repeat="log in ticket.logs">
                        <p ng-if="log.tipo == 'insert_ticket_novo'">
                            {{log.data}} <span class="badge capitalize">{{log.tipo_usuario}}</span><b> {{log.nome_usuario}}</b> criou o ticket <span class="badge {{empresa.cor_2}}">{{log.status_ticket}}</span>
                        </p>

                        <p ng-if="log.tipo == 'insert_ticket_resposta'">
                            {{log.data}} <span class="badge capitalize">{{log.tipo_usuario}}</span><b> {{log.nome_usuario}}</b> respondeu e alterou para o status <span class="badge {{empresa.cor_2}}">{{log.status_ticket}}</span>
                        </p>       

                        <p ng-if="log.tipo == 'update_ticket_status'">
                            {{log.data}} <span class="badge capitalize">{{log.tipo_usuario}}</span><b> {{log.nome_usuario}}</b> atualizou o status para <span class="badge {{empresa.cor_2}}">{{log.status_ticket}}</span>
                        </p>

                    </span>
                </div>            
            </div>

        </div>
    </div>
    </div>
</div>