a label{
	text-decoration: underline;
}

.blue{
	background-color: #34546D !important;
	color: white;
}

.white{
	background-color: white !important;
}

.blue-letter{	
	color: #34546D;
}
.green{
	background-color: #A2C73B !important;
}
.green-letter{
	color: #A2C73B;
}
.grey{
	background-color: #DFE0E2 !important;
}

.dark-grey{
	background-color: #231f20 !important;
}

.navbar-brand{
	padding: 10px !important;
}

.navbar .navbar-top-links i{
	/*color: white;*/
}

.clickable{
	cursor: pointer;
}

.capitalize{
	text-transform: capitalize;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group{
	margin-bottom: 5px;
}

.blue-border{	
	border: 1px solid #039be5;
}

.blue-border:first-child{	
	border-bottom: none;
}

.blue-border:last-child{	
	border-top: none;
}

.pd-1{
	padding: 10px;
}

.mg-1{
	margin-left: 5px;
	margin-right: 5px; 
}

.mt-1{
  margin-top: 10px; 
}

.mt-3{
	margin-top: 30px;	
}

.mb-1{
  margin-bottom: 10px; 
}

@font-face{
	font-family: 'Roboto';
	font-weight: normal;
  	font-style: normal;
}

.loading,
.loading:before,
.loading:after {
  background: #1976D2;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loading {
  color: #1976D2;
  text-indent: -9999em;
  margin: 95px 55%;
  position: absolute;
  font-size: 16px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  z-index: 999;
}
.loading:before,
.loading:after {
  position: absolute;
  top: 0;
  content: '';
}
.loading:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loading:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loading_background{
  height: 1000vh;
  width: 100%;
  background-color: black;
  z-index: 998;
  position: absolute;  
}

.resposta-box-usuario:after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    width: 0;
    height: 0;
    border: 35px solid transparent;
    border-left-color: #eceff1;
    border-right: 0;
    border-top: 0;            
    margin-right: -35px;
}

.resposta-box-cliente:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 35px solid transparent;
    border-right-color: #E8F5E9;
    border-left: 0;
    border-top: 0;            
    margin-left: -35px;
}

td .badge{
  font-size: 1em;
}

.btn .badge{
  font-size: 1em !important;
}

span .badge{
  font-size: 1em !important;
}

.panel-heading .badge{
  font-size: 1em !important;
}