/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade  
/* ------------------------------------------- */
/* line 64, ../sass/ng-animation.scss */
.toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
}
/* line 66, ../sass/ng-animation.scss */
.toggle.ng-enter {
  opacity: 0 !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
}
/* line 71, ../sass/ng-animation.scss */
.toggle.ng-enter-active {
  opacity: 1 !important;
}
/* line 75, ../sass/ng-animation.scss */
.toggle.ng-leave {
  opacity: 1 !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
}
/* line 80, ../sass/ng-animation.scss */
.toggle.ng-leave-active {
  opacity: 0 !important;
}
/* line 85, ../sass/ng-animation.scss */
.toggle.ng-hide-add {
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 89, ../sass/ng-animation.scss */
.toggle.ng-hide-add.ng-hide-add-active {
  opacity: 0 !important;
}
/* line 94, ../sass/ng-animation.scss */
.toggle.ng-hide-remove {
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 99, ../sass/ng-animation.scss */
.toggle.ng-hide-remove.ng-hide-remove-active {
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Slide Top 
/* ------------------------------------------- */
/* line 109, ../sass/ng-animation.scss */
.slide-top {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
}
/* line 111, ../sass/ng-animation.scss */
.slide-top.ng-enter {
  transform: translateY(60px) !important;
  -ms-transform: translateY(60px) !important;
  -webkit-transform: translateY(60px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 117, ../sass/ng-animation.scss */
.slide-top.ng-enter-active {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  opacity: 1 !important;
}
/* line 122, ../sass/ng-animation.scss */
.slide-top.ng-leave {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 128, ../sass/ng-animation.scss */
.slide-top.ng-leave-active {
  transform: translateY(60px) !important;
  -ms-transform: translateY(60px) !important;
  -webkit-transform: translateY(60px) !important;
  opacity: 0 !important;
}
/* line 134, ../sass/ng-animation.scss */
.slide-top.ng-hide-add {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 139, ../sass/ng-animation.scss */
.slide-top.ng-hide-add.ng-hide-add-active {
  transform: translateY(60px) !important;
  -ms-transform: translateY(60px) !important;
  -webkit-transform: translateY(60px) !important;
  opacity: 0 !important;
}
/* line 145, ../sass/ng-animation.scss */
.slide-top.ng-hide-remove {
  transform: translateY(60px) !important;
  -ms-transform: translateY(60px) !important;
  -webkit-transform: translateY(60px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 151, ../sass/ng-animation.scss */
.slide-top.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Slide Rigth 
/* ------------------------------------------- */
/* line 163, ../sass/ng-animation.scss */
.slide-right {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
}
/* line 165, ../sass/ng-animation.scss */
.slide-right.ng-enter {
  transform: translateX(60px) !important;
  -ms-transform: translateX(60px) !important;
  -webkit-transform: translateX(60px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 171, ../sass/ng-animation.scss */
.slide-right.ng-enter-active {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  opacity: 1 !important;
}
/* line 176, ../sass/ng-animation.scss */
.slide-right.ng-leave {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 182, ../sass/ng-animation.scss */
.slide-right.ng-leave-active {
  transform: translateX(60px) !important;
  -ms-transform: translateX(60px) !important;
  -webkit-transform: translateX(60px) !important;
  opacity: 0 !important;
}
/* line 188, ../sass/ng-animation.scss */
.slide-right.ng-hide-add {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 193, ../sass/ng-animation.scss */
.slide-right.ng-hide-add.ng-hide-add-active {
  transform: translateX(60px) !important;
  -ms-transform: translateX(60px) !important;
  -webkit-transform: translateX(60px) !important;
  opacity: 0 !important;
}
/* line 199, ../sass/ng-animation.scss */
.slide-right.ng-hide-remove {
  transform: translateX(60px) !important;
  -ms-transform: translateX(60px) !important;
  -webkit-transform: translateX(60px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 205, ../sass/ng-animation.scss */
.slide-right.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Slide Left 
/* ------------------------------------------- */
/* line 217, ../sass/ng-animation.scss */
.slide-left {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
}
/* line 219, ../sass/ng-animation.scss */
.slide-left.ng-enter {
  transform: translateX(-60px) !important;
  -ms-transform: translateX(-60px) !important;
  -webkit-transform: translateX(-60px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 225, ../sass/ng-animation.scss */
.slide-left.ng-enter-active {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  opacity: 1 !important;
}
/* line 230, ../sass/ng-animation.scss */
.slide-left.ng-leave {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 236, ../sass/ng-animation.scss */
.slide-left.ng-leave-active {
  transform: translateX(-60px) !important;
  -ms-transform: translateX(-60px) !important;
  -webkit-transform: translateX(-60px) !important;
  opacity: 0 !important;
}
/* line 242, ../sass/ng-animation.scss */
.slide-left.ng-hide-add {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 247, ../sass/ng-animation.scss */
.slide-left.ng-hide-add.ng-hide-add-active {
  transform: translateX(-60px) !important;
  -ms-transform: translateX(-60px) !important;
  -webkit-transform: translateX(-60px) !important;
  opacity: 0 !important;
}
/* line 253, ../sass/ng-animation.scss */
.slide-left.ng-hide-remove {
  transform: translateX(-60px) !important;
  -ms-transform: translateX(-60px) !important;
  -webkit-transform: translateX(-60px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 259, ../sass/ng-animation.scss */
.slide-left.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
/* line 270, ../sass/ng-animation.scss */
.slide-down {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
}
/* line 273, ../sass/ng-animation.scss */
.slide-down.ng-enter {
  transform: translateY(-60px) !important;
  -ms-transform: translateY(-60px) !important;
  -webkit-transform: translateY(-60px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 279, ../sass/ng-animation.scss */
.slide-down.ng-enter-active {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  opacity: 1 !important;
}
/* line 284, ../sass/ng-animation.scss */
.slide-down.ng-leave {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 290, ../sass/ng-animation.scss */
.slide-down.ng-leave-active {
  transform: translateY(-60px) !important;
  -ms-transform: translateY(-60px) !important;
  -webkit-transform: translateY(-60px) !important;
  opacity: 0 !important;
}
/* line 296, ../sass/ng-animation.scss */
.slide-down.ng-hide-add {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 301, ../sass/ng-animation.scss */
.slide-down.ng-hide-add.ng-hide-add-active {
  transform: translateY(-60px) !important;
  -ms-transform: translateY(-60px) !important;
  -webkit-transform: translateY(-60px) !important;
  opacity: 0 !important;
}
/* line 307, ../sass/ng-animation.scss */
.slide-down.ng-hide-remove {
  transform: translateY(-60px) !important;
  -ms-transform: translateY(-60px) !important;
  -webkit-transform: translateY(-60px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 313, ../sass/ng-animation.scss */
.slide-down.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Bouncy Slide Top 
/* ------------------------------------------- */
/* line 325, ../sass/ng-animation.scss */
.bouncy-slide-top {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1) !important;
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1) !important;
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  /* custom */
}
/* line 328, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter {
  transform: translateY(240px) !important;
  -ms-transform: translateY(240px) !important;
  -webkit-transform: translateY(240px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 334, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter-active {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  opacity: 1 !important;
}
/* line 339, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 345, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave-active {
  transform: translateY(240px) !important;
  -ms-transform: translateY(240px) !important;
  -webkit-transform: translateY(240px) !important;
  opacity: 0 !important;
}
/* line 351, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-add {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 356, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-add.ng-hide-add-active {
  transform: translateY(240px) !important;
  -ms-transform: translateY(240px) !important;
  -webkit-transform: translateY(240px) !important;
  opacity: 0 !important;
}
/* line 362, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-remove {
  transform: translateY(240px) !important;
  -ms-transform: translateY(240px) !important;
  -webkit-transform: translateY(240px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 368, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Bouncy Slide Rigth 
/* ------------------------------------------- */
/* line 379, ../sass/ng-animation.scss */
.bouncy-slide-right {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1) !important;
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1) !important;
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  /* custom */
}
/* line 382, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-enter {
  transform: translateX(240px) !important;
  -ms-transform: translateX(240px) !important;
  -webkit-transform: translateX(240px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 388, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-enter-active {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  opacity: 1 !important;
}
/* line 393, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-leave {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 399, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-leave-active {
  transform: translateX(240px) !important;
  -ms-transform: translateX(240px) !important;
  -webkit-transform: translateX(240px) !important;
  opacity: 0 !important;
}
/* line 405, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-hide-add {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 410, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-hide-add.ng-hide-add-active {
  transform: translateX(240px) !important;
  -ms-transform: translateX(240px) !important;
  -webkit-transform: translateX(240px) !important;
  opacity: 0 !important;
}
/* line 416, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-hide-remove {
  transform: translateX(240px) !important;
  -ms-transform: translateX(240px) !important;
  -webkit-transform: translateX(240px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 422, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Bouncy Slide Left 
/* ------------------------------------------- */
/* line 434, ../sass/ng-animation.scss */
.bouncy-slide-left {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1) !important;
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1) !important;
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  /* custom */
}
/* line 437, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-enter {
  transform: translateX(-240px) !important;
  -ms-transform: translateX(-240px) !important;
  -webkit-transform: translateX(-240px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 443, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-enter-active {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  opacity: 1 !important;
}
/* line 448, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-leave {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 454, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-leave-active {
  transform: translateX(-240px) !important;
  -ms-transform: translateX(-240px) !important;
  -webkit-transform: translateX(-240px) !important;
  opacity: 0 !important;
}
/* line 460, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-hide-add {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 465, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-hide-add.ng-hide-add-active {
  transform: translateX(-240px) !important;
  -ms-transform: translateX(-240px) !important;
  -webkit-transform: translateX(-240px) !important;
  opacity: 0 !important;
}
/* line 471, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-hide-remove {
  transform: translateX(-240px) !important;
  -ms-transform: translateX(-240px) !important;
  -webkit-transform: translateX(-240px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 477, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
/* line 488, ../sass/ng-animation.scss */
.bouncy-slide-down {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1) !important;
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1) !important;
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  /* custom */
}
/* line 491, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-enter {
  transform: translateY(-240px) !important;
  -ms-transform: translateY(-240px) !important;
  -webkit-transform: translateY(-240px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 497, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-enter-active {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  opacity: 1 !important;
}
/* line 502, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-leave {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 508, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-leave-active {
  transform: translateY(-240px) !important;
  -ms-transform: translateY(-240px) !important;
  -webkit-transform: translateY(-240px) !important;
  opacity: 0 !important;
}
/* line 514, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-hide-add {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 519, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-hide-add.ng-hide-add-active {
  transform: translateY(-240px) !important;
  -ms-transform: translateY(-240px) !important;
  -webkit-transform: translateY(-240px) !important;
  opacity: 0 !important;
}
/* line 525, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-hide-remove {
  transform: translateY(-240px) !important;
  -ms-transform: translateY(-240px) !important;
  -webkit-transform: translateY(-240px) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 531, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Scale Fade 
/* ------------------------------------------- */
/* line 544, ../sass/ng-animation.scss */
.scale-fade {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
}
/* line 547, ../sass/ng-animation.scss */
.scale-fade.ng-enter {
  transform: scale(0.7) !important;
  -ms-transform: scale(0.7) !important;
  -webkit-transform: scale(0.7) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 553, ../sass/ng-animation.scss */
.scale-fade.ng-enter-active {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  opacity: 1 !important;
}
/* line 558, ../sass/ng-animation.scss */
.scale-fade.ng-leave {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 564, ../sass/ng-animation.scss */
.scale-fade.ng-leave-active {
  transform: scale(0.7) !important;
  -ms-transform: scale(0.7) !important;
  -webkit-transform: scale(0.7) !important;
  opacity: 0 !important;
}
/* line 570, ../sass/ng-animation.scss */
.scale-fade.ng-hide-add {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 575, ../sass/ng-animation.scss */
.scale-fade.ng-hide-add.ng-hide-add-active {
  transform: scale(0.7) !important;
  -ms-transform: scale(0.7) !important;
  -webkit-transform: scale(0.7) !important;
  opacity: 0 !important;
}
/* line 581, ../sass/ng-animation.scss */
.scale-fade.ng-hide-remove {
  transform: scale(0.7) !important;
  -ms-transform: scale(0.7) !important;
  -webkit-transform: scale(0.7) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 587, ../sass/ng-animation.scss */
.scale-fade.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Spin Fade 
/* ------------------------------------------- */
/* line 598, ../sass/ng-animation.scss */
.spin-toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
}
/* line 601, ../sass/ng-animation.scss */
.spin-toggle.ng-enter {
  transform: rotate(225deg) !important;
  -ms-transform: rotate(225deg) !important;
  -webkit-transform: rotate(225deg) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 607, ../sass/ng-animation.scss */
.spin-toggle.ng-enter-active {
  transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  opacity: 1 !important;
}
/* line 612, ../sass/ng-animation.scss */
.spin-toggle.ng-leave {
  transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 618, ../sass/ng-animation.scss */
.spin-toggle.ng-leave-active {
  transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  opacity: 0 !important;
}
/* line 624, ../sass/ng-animation.scss */
.spin-toggle.ng-hide-add {
  transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 629, ../sass/ng-animation.scss */
.spin-toggle.ng-hide-add.ng-hide-add-active {
  transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  opacity: 0 !important;
}
/* line 635, ../sass/ng-animation.scss */
.spin-toggle.ng-hide-remove {
  transform: rotate(225deg) !important;
  -ms-transform: rotate(225deg) !important;
  -webkit-transform: rotate(225deg) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 641, ../sass/ng-animation.scss */
.spin-toggle.ng-hide-remove.ng-hide-remove-active {
  transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Scale in Fade 
/* ------------------------------------------- */
/* line 653, ../sass/ng-animation.scss */
.scale-fade-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
}
/* line 656, ../sass/ng-animation.scss */
.scale-fade-in.ng-enter {
  transform: scale(3) !important;
  -ms-transform: scale(3) !important;
  -webkit-transform: scale(3) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 0 !important;
}
/* line 662, ../sass/ng-animation.scss */
.scale-fade-in.ng-enter-active {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  opacity: 1 !important;
}
/* line 667, ../sass/ng-animation.scss */
.scale-fade-in.ng-leave {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 673, ../sass/ng-animation.scss */
.scale-fade-in.ng-leave-active {
  transform: scale(3) !important;
  -ms-transform: scale(3) !important;
  -webkit-transform: scale(3) !important;
  opacity: 0 !important;
}
/* line 679, ../sass/ng-animation.scss */
.scale-fade-in.ng-hide-add {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  opacity: 1 !important;
}
/* line 684, ../sass/ng-animation.scss */
.scale-fade-in.ng-hide-add.ng-hide-add-active {
  transform: scale(3) !important;
  -ms-transform: scale(3) !important;
  -webkit-transform: scale(3) !important;
  opacity: 0 !important;
}
/* line 690, ../sass/ng-animation.scss */
.scale-fade-in.ng-hide-remove {
  transform: scale(3) !important;
  -ms-transform: scale(3) !important;
  -webkit-transform: scale(3) !important;
  transition-duration: 250ms !important;
  -webkit-transition-duration: 250ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 696, ../sass/ng-animation.scss */
.scale-fade-in.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Bouncy Scale in Fade 
/* ------------------------------------------- */
/* line 708, ../sass/ng-animation.scss */
.bouncy-scale-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1) !important;
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1) !important;
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  /* custom */
}
/* line 711, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-enter {
  transform: scale(3) !important;
  -ms-transform: scale(3) !important;
  -webkit-transform: scale(3) !important;
  transition-duration: 450ms !important;
  -webkit-transition-duration: 450ms !important;
  opacity: 0 !important;
}
/* line 717, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-enter-active {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  opacity: 1 !important;
}
/* line 722, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-leave {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transition-duration: 450ms !important;
  -webkit-transition-duration: 450ms !important;
  opacity: 1 !important;
}
/* line 728, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-leave-active {
  transform: scale(3) !important;
  -ms-transform: scale(3) !important;
  -webkit-transform: scale(3) !important;
  opacity: 0 !important;
}
/* line 734, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-hide-add {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transition-duration: 450ms !important;
  -webkit-transition-duration: 450ms !important;
  opacity: 1 !important;
}
/* line 739, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-hide-add.ng-hide-add-active {
  transform: scale(3) !important;
  -ms-transform: scale(3) !important;
  -webkit-transform: scale(3) !important;
  opacity: 0 !important;
}
/* line 745, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-hide-remove {
  transform: scale(3) !important;
  -ms-transform: scale(3) !important;
  -webkit-transform: scale(3) !important;
  transition-duration: 450ms !important;
  -webkit-transition-duration: 450ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 751, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Flip In 
/* ------------------------------------------- */
/* line 763, ../sass/ng-animation.scss */
.flip-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  /* easeOutQuad */
}
/* line 766, ../sass/ng-animation.scss */
.flip-in.ng-enter {
  transform: perspective(300px) rotateX(90deg) !important;
  -ms-transform: perspective(300px) rotateX(90deg) !important;
  -webkit-transform: perspective(300px) rotateX(90deg) !important;
  transition-duration: 550ms !important;
  -webkit-transition-duration: 550ms !important;
  opacity: 0.7 !important;
}
/* line 772, ../sass/ng-animation.scss */
.flip-in.ng-enter-active {
  transform: perspective(300px) rotateX(0deg) !important;
  -ms-transform: perspective(300px) rotateX(0deg) !important;
  -webkit-transform: perspective(300px) rotateX(0deg) !important;
  opacity: 1 !important;
}
/* line 777, ../sass/ng-animation.scss */
.flip-in.ng-leave {
  transform: perspective(300px) rotateX(0deg) !important;
  -ms-transform: perspective(300px) rotateX(0deg) !important;
  -webkit-transform: perspective(300px) rotateX(0deg) !important;
  transition-duration: 550ms !important;
  -webkit-transition-duration: 550ms !important;
  opacity: 1 !important;
}
/* line 783, ../sass/ng-animation.scss */
.flip-in.ng-leave-active {
  transform: perspective(300px) rotateX(135deg) !important;
  -ms-transform: perspective(300px) rotateX(135deg) !important;
  -webkit-transform: perspective(300px) rotateX(135deg) !important;
  opacity: 0.7 !important;
}
/* line 789, ../sass/ng-animation.scss */
.flip-in.ng-hide-add {
  transform: perspective(300px) rotateX(0deg) !important;
  -ms-transform: perspective(300px) rotateX(0deg) !important;
  -webkit-transform: perspective(300px) rotateX(0deg) !important;
  transition-duration: 550ms !important;
  -webkit-transition-duration: 550ms !important;
  opacity: 1 !important;
}
/* line 794, ../sass/ng-animation.scss */
.flip-in.ng-hide-add.ng-hide-add-active {
  transform: perspective(300px) rotateX(135deg) !important;
  -ms-transform: perspective(300px) rotateX(135deg) !important;
  -webkit-transform: perspective(300px) rotateX(135deg) !important;
  opacity: 0 !important;
}
/* line 800, ../sass/ng-animation.scss */
.flip-in.ng-hide-remove {
  transform: perspective(300px) rotateX(90deg) !important;
  -ms-transform: perspective(300px) rotateX(90deg) !important;
  -webkit-transform: perspective(300px) rotateX(90deg) !important;
  transition-duration: 550ms !important;
  -webkit-transition-duration: 550ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 806, ../sass/ng-animation.scss */
.flip-in.ng-hide-remove.ng-hide-remove-active {
  transform: perspective(300px) rotateX(0deg) !important;
  -ms-transform: perspective(300px) rotateX(0deg) !important;
  -webkit-transform: perspective(300px) rotateX(0deg) !important;
  opacity: 1 !important;
}

/* ------------------------------------------- */
/* Rotate In 
/* ------------------------------------------- */
/* line 817, ../sass/ng-animation.scss */
.rotate-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1) !important;
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1) !important;
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595) !important;
  /* custom */
}
/* line 820, ../sass/ng-animation.scss */
.rotate-in.ng-enter {
  transform: perspective(300px) rotateY(40deg) !important;
  -ms-transform: perspective(300px) rotateY(40deg) !important;
  -webkit-transform: perspective(300px) rotateY(40deg) !important;
  transition-duration: 550ms !important;
  -webkit-transition-duration: 550ms !important;
  opacity: 0.7 !important;
}
/* line 826, ../sass/ng-animation.scss */
.rotate-in.ng-enter-active {
  transform: perspective(300px) rotateY(0deg) !important;
  -ms-transform: perspective(300px) rotateY(0deg) !important;
  -webkit-transform: perspective(300px) rotateY(0deg) !important;
  opacity: 1 !important;
}
/* line 831, ../sass/ng-animation.scss */
.rotate-in.ng-leave {
  transform: perspective(300px) rotateY(0deg) !important;
  -ms-transform: perspective(300px) rotateY(0deg) !important;
  -webkit-transform: perspective(300px) rotateY(0deg) !important;
  transition-duration: 550ms !important;
  -webkit-transition-duration: 550ms !important;
  opacity: 1 !important;
}
/* line 837, ../sass/ng-animation.scss */
.rotate-in.ng-leave-active {
  transform: perspective(300px) rotateY(-40deg) !important;
  -ms-transform: perspective(300px) rotateY(-40deg) !important;
  -webkit-transform: perspective(300px) rotateY(-40deg) !important;
  opacity: 0.7 !important;
}
/* line 843, ../sass/ng-animation.scss */
.rotate-in.ng-hide-add {
  transform: perspective(300px) rotateY(0deg) !important;
  -ms-transform: perspective(300px) rotateY(0deg) !important;
  -webkit-transform: perspective(300px) rotateY(0deg) !important;
  transition-duration: 550ms !important;
  -webkit-transition-duration: 550ms !important;
  opacity: 1 !important;
}
/* line 848, ../sass/ng-animation.scss */
.rotate-in.ng-hide-add.ng-hide-add-active {
  transform: perspective(300px) rotateY(-40deg) !important;
  -ms-transform: perspective(300px) rotateY(-40deg) !important;
  -webkit-transform: perspective(300px) rotateY(-40deg) !important;
  opacity: 0 !important;
}
/* line 854, ../sass/ng-animation.scss */
.rotate-in.ng-hide-remove {
  transform: perspective(300px) rotateY(40deg) !important;
  -ms-transform: perspective(300px) rotateY(40deg) !important;
  -webkit-transform: perspective(300px) rotateY(40deg) !important;
  transition-duration: 550ms !important;
  -webkit-transition-duration: 550ms !important;
  display: block !important !important;
  opacity: 0 !important;
}
/* line 860, ../sass/ng-animation.scss */
.rotate-in.ng-hide-remove.ng-hide-remove-active {
  transform: perspective(300px) rotateY(0deg) !important;
  -ms-transform: perspective(300px) rotateY(0deg) !important;
  -webkit-transform: perspective(300px) rotateY(0deg) !important;
  opacity: 1 !important;
}
