<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header">Configurações e Preferências</h3>                
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">            
                <div class="panel-heading {{empresa.cor_danger}} white-text" >                      
                    <label><i class="fa fa-cog"></i> <b ng-bind="empresa.nome"></b></label>
                </div>

                <div class="panel-body">                 
                    <label ng-hide="true" ng-bind="empresa.codconfig"></label>
                    
                    <div class="form-group col-sm-12 col-md-6">
                        <label>Empresa</label>
                        <input class="form-control" placeholder="Nome" ng-model="empresa.nome">
                    </div>         

                    <div class="form-group col-sm-12 col-md-6">
                        <label>E-mail (Usado para enviar e-mails)</label>
                        <input class="form-control" placeholder="E-mail" ng-model="empresa.email">
                    </div>

                     <div class="form-group col-sm-12 col-md-6">
                        <label>Tel:</label>
                        <input class="form-control" placeholder="Telefone" ng-model="empresa.tel" mask='(99) 9?9999-9999'>
                    </div>                       

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Link Sistema:</label>
                        <input class="form-control" placeholder="Link" ng-model="empresa.link_sistema">
                    </div>    

                    <div class="form-group col-sm-12 col-md-12">                    	
                       <hr>
                    </div>          

                    <div class="form-group col-sm-12 col-md-6">                    	
                        <label>Cor 1</label>
                        <input class="form-control" placeholder="Cor 1" ng-model="empresa.cor_1">
                    </div>             

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Cor 2</label>
                        <input class="form-control" placeholder="Cor 2" ng-model="empresa.cor_2">
                    </div>             

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Cor 3</label>
                        <input class="form-control" placeholder="Cor 3" ng-model="empresa.cor_3">
                    </div>

					<div class="form-group col-sm-12 col-md-6">
                        <label>Cor Background</label>
                        <input class="form-control" placeholder="Cor background" ng-model="empresa.cor_background">
                    </div> 

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Cor Warning</label>
                        <input class="form-control" placeholder="Cor warning" ng-model="empresa.cor_warning">
                    </div> 

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Cor Success</label>
                        <input class="form-control" placeholder="Cor success" ng-model="empresa.cor_success">
                    </div> 

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Cor Danger</label>
                        <input class="form-control" placeholder="Cor danger" ng-model="empresa.cor_danger">
                    </div> 

                    <div class="form-group col-sm-12 col-md-6">
                        <label>Cor Info</label>
                        <input class="form-control" placeholder="Cor info" ng-model="empresa.cor_info">
                    </div>
                 
                </div>                    

                <div class="panel-footer {{empresa.cor_3}}">   
            
                    <a class="btn btn-sm btn-social btn-default" ui-sref="navbar_completa.clientes">
                        <i class="fa fa-chevron-circle-left"></i> Voltar
                    </a>  
                    
                    <a class="btn btn-sm btn-social btn-success pull-right" ng-click="updateConfiguracoes(empresa)">
                        <i class="fa fa-floppy-o"></i> Salvar
                    </a>       
        
                </div>
                
                </div>
            </div>
        </div>
    </div>
</div>